*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  background-color: #01c3c3;
  background: linear-gradient(0deg, #0dbbba 35%, #74f2ce 100%);
  overflow: hidden;
}
.body__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.body__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
.body__overlay_hide {
  display: none;
}

.container {
  max-width: 1600px;
  height: inherit;
  padding: 0 15px;
  margin: auto;
}

.card {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 900px;
  font-size: 20px;
  background-color: #fff;
  padding: 1em;
  border-radius: 2em;
  z-index: 20;
  transition: 0.6s;
}
.card-pavel {
  top: 5%;
  left: 5%;
}
.card-elvira {
  top: 8%;
  right: 10%;
}
.card-dima {
  top: 30%;
  left: 40%;
}
.card-ivita {
  bottom: 7%;
  left: 15%;
}
.card-gasdak {
  bottom: 10%;
  right: 7%;
}
.card__photo {
  align-self: center;
  flex-shrink: 0;
}
.card__content {
  padding: 1em;
}
.card__close {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  font-size: 1.7em;
  line-height: 0.9;
  font-weight: bold;
  background: transparent;
  padding: 0.2em;
  border: none;
  cursor: pointer;
}
.card__close:hover {
  color: #01c3c3;
}
.card__title {
  font-family: cursive;
  font-size: 2em;
  margin-bottom: 1em;
}
.card__subtitle {
  display: block;
  font-size: 0.6em;
}
.card__text {
  font-size: 1.3em;
  line-height: 1.3;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 2em;
}
.card__buttons {
  display: flex;
}
.card__button:first-child {
  margin-right: 2em;
}

.card:not(.no-active) {
  top: 50%;
  left: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
}
.card:not(.no-active) .photo {
  transform: none;
  max-width: 15em;
  font-size: 20px;
}
.card:not(.no-active) .photo img {
  transform: none;
}

.card.no-active {
  width: auto;
  padding: 0;
  background-color: transparent;
  z-index: 5;
}
.card.no-active .card__photo {
  cursor: pointer;
  transition: 0.3s;
}
.card.no-active .card__content {
  display: none;
}

.photo {
  display: inline-block;
  max-width: 15em;
  background-color: #fff;
  font-size: 1.4vw;
  padding: 1em;
  border-radius: 30% 50% 40% 50%;
  transform: rotate(130deg);
}
.photo:hover {
  transform: rotate(0deg) scale(1.2);
}
.photo:hover .photo__img {
  transform: rotate(0deg) scale(1.1);
}
.photo_small {
  max-width: 12em;
}
.photo_rotate {
  transform: rotate(190deg);
}
.photo_rotate .photo__img {
  transform: rotate(-190deg);
}
.photo_rotate:hover {
  transform: rotate(0deg) scale(1.2);
}
.photo_rotate:hover .photo__img {
  transform: rotate(0deg) scale(1.1);
}
.photo_rotate-2 {
  transform: rotate(100deg);
}
.photo_rotate-2 .photo__img {
  transform: rotate(-100deg);
}
.photo_rotate-2:hover {
  transform: rotate(0deg) scale(1.2);
}
.photo_rotate-2:hover .photo__img {
  transform: rotate(0deg) scale(1.1);
}
.photo__img {
  width: 100%;
  border-radius: 50%;
  transition: 0.3s;
  transform: rotate(-130deg);
}

.button {
  font-size: 20px;
  color: #01c3c3;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5em 1em;
  border: 0.1em solid #01c3c3;
  cursor: pointer;
}
.button:hover {
  color: #fff;
  background-color: #01c3c3;
}/*# sourceMappingURL=styles.css.map */