.button {
  font-size: 20px;
  color: #01c3c3;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5em 1em;
  border: 0.1em solid #01c3c3;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #01c3c3;
  }
}