@font-face {
    font-family: 'comic-sans-ms';
    src: url('../font/ComicSansMS.woff2') format('woff2'),
        url('../font/ComicSansMS.woff') format('woff'),
        url('../font/ComicSansMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}