.photo
  display: inline-block
  max-width: 15em
  background-color: #fff
  font-size: 1.4vw
  padding: 1em
  border-radius: 30% 50% 40% 50%

  @media screen and (min-width: 820px)
    transform: rotate(130deg)

    &:hover
      transform: rotate(0deg) scale(1.2)

      .photo__img
        transform: rotate(0deg) scale(1.1)

  
  &_small
    max-width: 12em

  &_rotate
    @media screen and (min-width: 820px)

      transform: rotate(190deg)
      .photo__img
        transform: rotate(-190deg)

      &:hover
        transform: rotate(0deg) scale(1.2)

        .photo__img
          transform: rotate(0deg) scale(1.1)

  &_rotate-2
    @media screen and (min-width: 820px)

      transform: rotate(100deg)
      .photo__img
        transform: rotate(-100deg)

      &:hover
        transform: rotate(0deg) scale(1.2)

        .photo__img
          transform: rotate(0deg) scale(1.1)

  &__img
    width: 100%
    border-radius: 50%
    transition: 0.3s
    transform: rotate(-130deg)